<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>[earthquakr]</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="http://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/index.css">

  <!-- JS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCCYHuswVcziuH83IxhM9xJaiDQhaYommc" type="text/javascript"></script>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <script src="js/lib/underscore-min.js" type="text/javascript"></script>
  <script src="js/lib/backbone-min.js" type="text/javascript"></script>
  <script src="js/lib/backbone.marionette.bundle.min.js" type="text/javascript"></script>
  <script src="js/main.js" type="text/javascript"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="header centered">
    <h1>[earthquakr]</h1>
    <h5>Significant earthquakes in the past 30 days. Made with Marionette and CoffeeScript.</h5>
  </div>
  <div class="container">

    <div id="menu" class="centered">
      <script type="text/template" id="menu-template">
        <h4>sort by: </h4>
        <a class="button" id="highest-first" href="#">highest magnitude</a>
        <a class="button" id ="lowest-first" href="#">lowest magnitude</a>
        <a class="button" id ="most-recent" href="#">most recent</a>
        <a class="button" id ="least-recent" href="#">least recent</a>
      </script>
    </div>

    <div id="content">
      <script type="text/template" id="earthquakes-table-template">
      <table>
        <thead>
          <tr>
            <th>Magnitude</th>
            <th>Location</th>
            <th>Time Occurred</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      </script>

      <script type="text/template" id="earthquake-row-template">
        <td><%= mag %></td>
        <td><%= place %></td>
        <td><%= time %></td>
      </script>

    </div>

    <div id="map">
      <div class="map-section">
        <script type="text/template" id="map-canvas-template">
          <div id="map-canvas"></div>
        </script>
      </div>
    </div>

  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
